doctype html
html(lang="en", prefix="ea: http://example.com/docs/rels/")

  head
    title Orders - Nested - HAL Example
    base(href="http://example.com")
    link(rel="self", href="/orders")
    link(rel="next", href="/orders?page=2")
    meta(name="resource", content="ea:orders")

  body
    div(typeof="ea:orders")
      h1 Orders

      dl
        dt Currently Processing
        dd(property="currentlyProcessing") 14
        dt Shipped Today
        dd(property="shippedToday") 20

      h2 Admin

      ul.admins
        li
          a(href="/admins/2", rel="ea:admin", title="Fred") Fred
        li
          a(href="/admins/5", rel="ea:admin", title="Kate") Kate

      h2 Order List

      .orders

        .order(typeof="ea:order", resource="/orders/123")
          h3 Order 123
          a(rel="ea:customer", href="/customers/7809") Customer
          
          dl
            dt Total
            dd(property="total") 30.00
            dt Currency
            dd(property="currency") USD
            dt Status
            dd(property="status") shipped

          .items
            .item(typeof="ea:item", resource="/item/3332")
              a(rel="ea:item_image", href="/image/3332")
              a(rel="ea:reviews", href="/reviews/3332")
              dl
                dt Item No
                dd(property="itemNo") 3332
            .item(typeof="ea:item", resource="/item/4544")
              a(rel="ea:item_image", href="/image/4544")
              a(rel="ea:reviews", href="/reviews/3332")
              dl
                dt Item No
                dd(property="itemNo") 4544

      h2 Find Order

      form(method="get", action="/orders" name="find")
        input(name="id", type="text")
        input(value="Submit")
